* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', serif;
    color: #333;
    line-height: 1.6;
  }
  

/*HEADER*/
  header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .header img {
    width:500px;
    height:auto;
    font-family: 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: normal;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .main-nav ul li {
    margin: 0 15px;
  }
  
  .main-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .main-nav ul li a:hover {
    color: #0073e6;
  }
  
  .headline {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
  }
  
  .headline img {
    width: 900px;
    height: auto;
  }


/*PARTIE DES AUTRES ARTICLES (TRUMP,CREUSE, BOB)*/

  .news-articles {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .news-articles .article {
    width: 30%;
  }
  
  .news-articles img {
    border-color: black;
    border-radius: 12px;
    width: 200px;
    height: auto;
  }
  
  .article h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  


  /*PARTIE GENERALE DE L'ARTICLE*/

  .thearticle  {
   margin-left: 500px;
   margin-right: 500px;
  }

.thearticle h1 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
}

.thearticle h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thearticle img {
  width:900px;
  height: auto;
}



/*PARTIE FOOTER*/
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer-nav ul li {
    margin: 0 10px;
  }
  
  .footer-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-nav ul li a:hover {
    text-decoration: underline;
  }
  



/*GRAPHIQUE HISTOGRAMME DES VEHICULES RECHARGEABLES*/

#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 500px;
  margin-bottom: 500px;
}

svg {
  width: 600px;
  height: 400px;
}

.bar {
  fill: #4CAF50;
}

.bar-gaz {
  fill: #2196F3;
}

.bar-particulier {
  fill: #FF9800;
}

text {
  font-size: 14px;
  fill: #000;
}



/*ANIMATION VOITURE*/

#car-container {
  display: flex;
  position: center;
  align-items: center;
  margin-top: 50px;
  width: 200px;
  height: auto;
}

/*ANIMATION BATTERIE*/
#battery-container {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
